Repository simochee/textlint-for-backlog: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, sort-package-json

lefthook.yml:

pre-commit:
  commands:
    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run fix:oxlint {staged_files}
      stage_fixed: true

    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run fix:oxfmt {staged_files}
      stage_fixed: true

    sort-package-json:
      glob: package.json
      stage_fixed: true
      run: |-
        npx sort-package-json

feat: compile textlint worker
  .gitignore
  .oxlintrc.json
  .textlintrc.json
  biome.jsonc
  bun.lock
  lefthook.yml
  package-lock.json
  package.json
  vendor/textlint-worker.js
Due: oxlint, oxfmt, sort-package-json

feat: setup textlint worker
  entrypoints/content/index.ts
Due: oxlint, oxfmt

feat: refactor textlint worker
  app.config.ts
  bun.lock
  entrypoints/content/index.ts
  entrypoints/content/worker.ts
  lefthook.yml
  package.json
  tsconfig.json
  wxt.config.ts
Due: oxlint, oxfmt, sort-package-json

chore: use prettier
  bun.lock
  lefthook.yml
  package.json
Due: oxlint, oxfmt, sort-package-json

chore: remove unused file
  biome.jsonc
Due: oxlint, oxfmt

feat: highlight plain paragraph element
  bun.lock
  entrypoints/content/index.ts
  entrypoints/content/style.css
  entrypoints/content/worker.ts
  package.json
  utils/node-matcher.ts
  utils/observe-query-selector.ts
Due: oxlint, oxfmt, sort-package-json

chore: update worker
  .textlintrc.json
  bun.lock
  package.json
  vendor/textlint-worker.js
Due: oxlint, oxfmt, sort-package-json

feat: range highlighting
  entrypoints/content/index.ts
  entrypoints/content/worker.ts
  utils/create-range-from-text-offset.ts
Due: oxlint, oxfmt

feat: cleanup function
  entrypoints/content/index.ts
Due: oxlint, oxfmt

refactor: improve maintainability by modularizing code structure
  entrypoints/content/index.ts
  entrypoints/content/worker.ts
  types/textlint.ts
  utils/element-watcher.ts
  utils/highlight-manager.ts
  utils/lint-executor.ts
Due: oxlint, oxfmt

fix: use innerText instead of innerHTML for accurate offset calculation
  utils/lint-executor.ts
Due: oxlint, oxfmt

feat: display error count icon outside p elements
  entrypoints/content/index.ts
  entrypoints/content/style.css
  utils/element-watcher.ts
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

feat: add interactive error detail tooltips
  entrypoints/content/style.css
  utils/element-watcher.ts
  utils/error-icon-manager.ts
  utils/lint-executor.ts
Due: oxlint, oxfmt

feat: add fade animations and icon visibility sync to tooltips
  entrypoints/content/style.css
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

feat: close tooltips when clicking outside
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

feat: redesign tooltip as speech bubble and align icon to first line
  entrypoints/content/style.css
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

refactor: migrate to CSS Modules for component styles
  entrypoints/content/global.css
  entrypoints/content/index.ts
  entrypoints/content/style.module.css
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

feat: highlight entire element when tooltip is open
  entrypoints/content/global.css
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

refactor: simplify error tooltip with responsive width and rule links
  entrypoints/content/style.module.css
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

feat: highlight error location on tooltip item hover
  entrypoints/content/global.css
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

refactor: improve tooltip size and scrollbar styling
  entrypoints/content/style.module.css
Due: none

refactor: simplify textlint config with preset packages
  .textlintrc.json
  bun.lock
  package.json
  vendor/textlint-worker.js
Due: oxlint, oxfmt, sort-package-json

refactor: remove ai-writing preset and extend worker timeout
  .textlintrc.json
  entrypoints/content/worker.ts
  vendor/textlint-worker.js
Due: oxlint, oxfmt

feat: add clickable URLs and improve error item styling
  entrypoints/content/style.module.css
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

feat: add rule documentation links for Japanese textlint presets
  utils/error-icon-manager.ts
  utils/rule-doc-links.ts
Due: oxlint, oxfmt

feat: prevent scroll chaining in error popover
  entrypoints/content/style.module.css
Due: none

fix: remove error icons completely instead of hiding on error resolution
  utils/element-watcher.ts
Due: oxlint, oxfmt

feat: add popup UI to toggle textlint presets
  entrypoints/content/worker.ts
  entrypoints/popup/index.html
  entrypoints/popup/main.ts
  entrypoints/popup/style.css
  utils/preset-filter.ts
  utils/preset-settings.ts
  wxt.config.ts
Due: oxlint, oxfmt

refactor: improve type safety and architecture for preset management
  entrypoints/content/index.ts
  entrypoints/content/worker.ts
  entrypoints/popup/index.html
  entrypoints/popup/main.ts
  types/presets.ts
  utils/element-watcher.ts
  utils/preset-filter.ts
  utils/preset-settings.ts
Due: oxlint, oxfmt

test: set up vitest with WebExtension API mocks and sample tests
  .gitignore
  bun.lock
  package.json
  types/presets.test.ts
  utils/preset-settings.test.ts
  vitest.config.ts
  vitest.setup.ts
Due: oxlint, oxfmt, sort-package-json

test: add comprehensive tests for preset settings and message filtering
  types/presets.test.ts
  utils/preset-filter.test.ts
  utils/preset-settings.test.ts
  vitest.setup.ts
Due: oxlint, oxfmt

refactor: reorganize codebase with feature-based directory structure
  entrypoints/content/index.ts
  entrypoints/popup/main.ts
  features/preset/filter.test.ts
  features/preset/filter.ts
  features/preset/rule-doc-links.ts
  features/preset/settings.test.ts
  features/preset/settings.ts
  features/preset/types.test.ts
  features/preset/types.ts
  features/textlint/executor.ts
  features/textlint/types.ts
  features/textlint/worker.ts
  lib/dom/create-range-from-text-offset.ts
  lib/dom/node-matcher.ts
  lib/dom/observe-query-selector.ts
  lib/ui/element-watcher.ts
  lib/ui/error-icon/icon-renderer.ts
  lib/ui/error-icon/manager.ts
  lib/ui/error-icon/popover-renderer.ts
  lib/ui/highlight-manager.ts
  utils/error-icon-manager.ts
Due: oxlint, oxfmt

docs: add README and screenshot
  README.md
  screenshot.png
Due: none

feat: add automatic icon generation with @wxt-dev/auto-icons
  README.md
  assets/icon.png
  bun.lock
  package.json
  wxt.config.ts
Due: oxlint, oxfmt, sort-package-json

style: add spacing between icon and title in README
  README.md
Due: none
